<div class="theater-layout">
    <h1 class="theater-layout__header">
        BOX OFFICE
    </h1>
    <section class="theater-layout__actions">
        <div class="theater-layout__actions-username card">
            <div class="theater-layout__actions-username-form">
                <label for="username">Name</label>
                <input
                [(ngModel)]="username"
                type="text"
                name="username"
                id="username">
            </div>
        </div>
        <theater-actions
            (saveSeats)="saveSelectedSeats()"
            (resetSeats)="resetTheater()">
        </theater-actions>
    </section>
    <theater [data]="theaterUI"></theater>
</div>
