@import './styles/variables.scss';

.header {
    font-size: x-large;
    display: flex;
    background-color: $neutral-05;
    padding: $space;
    
    &-button {
        background-color: $neutral-10;
        padding: $space $space * 2;
        height: 100%;
        border-radius: $border-radius;
    }

    a {
        color: $neutral-90;
        font-weight: $font-weight-bold;
        text-decoration: none;
    }
}
