@import '../styles/variables.scss';

.username-input {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    &__form {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: $space;
    }

    &__input {
        @include input-reset;
    }
}
