@import '../styles/variables.scss';

.theater {

    padding: $space * 3;

    &__platea {
        padding-bottom: $space;

        .theater__seat:nth-child(5) {
            margin-right: $space * 3;
        }
    }

    &__palchi {
        display: flex;
        justify-content: center;

        .theater__row {
            max-width: 100px;
            margin: 0 $space;
        }
    }

    &__row {
        display: flex;
        justify-content: center;
        gap: $space;
        padding-bottom: $space;
        flex-wrap: wrap;
    }

    &__seat {
        width: 25px;
        height: 25px;
        border: 1px solid $neutral-30;
        border-radius: 35% 35% $border-radius $border-radius;
        cursor: pointer;

        &.booked {
            background-color: $neutral-10;
            border: 1px solid $neutral-40;
        }

        &.selected {
            background-color: inherit;
            border: 2px solid $neutral-60;
        }
    }
}
